site_name: State of Mayflower Legislation
site_url: https://mayflower-state.github.io/legislation
site_author: Southside Studios
site_description: Active legislation for the State of Mayflower Roblox group
repo_name: mayflower-state/legislation
repo_url: https://github.com/mayflower-state/legislation

theme:
  name: material
  features:
    - tabs

  logo: assets/logo.png
  favicon: assets/favicon.ico

  include_search_page: false
  search_index_only: true

  language: en

plugins:
  - search:
      separator: '[\s\-]+'
  - awesome-pages
  - git-revision-date-localized:
      type: date

markdown_extensions:
  - admonition
  - footnotes
  - toc:
      permalink: true
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg

extra_css:
- stylesheets/extra.css
